Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
#Ans-If we have multilple lines to comment we can use Triple quotes and # for single line comment
#1]Triple quotes for multiple line comments
#2]Hash(#)for single line comment

Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
#Ans- a veriable is a string of charcters and numbers to store  the information related to it.
#'=' symble is used to assign values to veriable

#ex- name='pw skills'

Q3. How do you convert one data type to another in Python?

In [ ]:
#Ans-by usimg typecasting we can convert one data type to another
#ex-

In [5]:
name='kallu'
Num=87

NewName=name+str(Num)
print("value:",NewName)
print("Data type:",type(NewName))

#Here we have converted 'int' to 'str' data type by typecasting

value: kallu87
Data type: <class 'str'>

4. How do you write and execute a Python script from the command line?

In [ ]:
#Ans- FIrst we have to open python commond line and then type python followed by path pf the script then press enter.

5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [6]:
my_list = [1, 2, 3, 4, 5]
sliced_lst=my_list[1:3]
print(sliced_lst)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [13]:
#Ans- Complex are combination of two real numbers and an imaginary number
#Ex- A=2+3j where 2 and 3 are real numbers and 'j' isimaginary numbers which is the square root of -1.

A=complex(2,3)
print(A)

(2+3j)

In [14]:
B=complex(3.,6)
print(B)

(3+6j)

7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [ ]:
#Ans-age=25

#Here = assigns the value on the right and veriable name on the left

8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
belong to?

In [15]:
#Ans
price=9.99
type(price)
#Data type is float

float

9. Create a variable named name and assign your full name to it as a string. How would you print the 
value of this variable?

In [16]:
name='kallappa kudagi'
print(name)

# By using the print statement we can print the values

kallappa kudagi

Q10. Given the string "Hello, World!", extract the substring "World".

In [9]:
#Ans
str1=("Hello World!")
print(str1[6:11])

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not.

In [10]:
is_student=False
print(is_student)
## True means 'is a students' and False means 'not a student'

False